* {padding:0; margin: 0;}
a {text-decoration: none;}
html , body {width: 100%; font-family: 'Noto Sans', sans-serif; font-size: 16px}

/* 전체적인 layout */
.wrap {max-width: 768px; height: 100%; background-color: #E5E5E5; position: relative; margin: 0 auto;}
.wrap  div {max-width:660px; margin: 0 auto; position: relative;}

/* 상단부 내 정보 */
.my-info{  top: 0; padding: 1rem 0;}

.my-info .my-img {text-align: center;}
.my-info .my-img img{ width: 8rem;height: auto;  border-radius: 50%;}
.my-info .my-name p{ text-align: center; font-size: 2rem; color:#B7ADAD;}
.my-info .my-company p { text-align: center; font-size: 0.75rem; color:#B7ADAD;}

/* 중간 개인 커리어 */
.my-career{ border-top: 1px dashed #CBC9C9; border-bottom: 1px dashed #CBC9C9;}
.my-career .career-wrap {height: 142px; position: relative;left: 60%;top: 50%;transform: translateX(-50%); }

.my-career .career-wrap .career-logo {float: left;width:142px;height:142px; position: relative}
.my-career .career-wrap .career-logo .career-logo-wrap {width: 6rem; height: 6rem;  border-radius: 50%; position: absolute; top:30%; left: 50%;transform: translate(-50%,-50%); overflow: hidden;}
.my-career .career-wrap .career-logo .career-logo-wrap img {width: 4rem; height: auto; position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%)}

.my-career .career-wrap .career-contents-wrap {display:inline-block; width:calc(100% - 142px); padding:10px 0; box-sizing: border-box;}
.my-career .career-wrap .career-contents-wrap .career-title {font-size: 1rem; font-weight: bold;padding: 5px;}
.my-career .career-wrap .career-contents-wrap .career-contents {font-size: 0.75rem; color: rgba(0,0,0,0.5); padding: 5px;}
.my-career .career-wrap .career-contents-wrap .career-contents .step { margin-bottom: 0.3rem; word-break:break-word;}

/* 하단부 소셜 */
.my-social{bottom: 0; }

.my-social .my-social-wrap {position: relative; text-align: center; padding: 30px 5px;}
.my-social .my-social-wrap .my-social-logo-wrap {position: relative; display: inline-block; width: 48px; height: 48px; border-radius: 50%; box-sizing:  border-box; vertical-align: middle; margin : 0 10px;}
.my-social .my-social-wrap .my-social-logo-wrap img {width: 4rem; height: auto; position: absolute;}
.my-social .my-social-wrap .my-social-logo-wrap .icon {width: 48px;height:48px;line-height: 48px;}

/* Font Awesome */
.my-social .my-social-wrap .my-social-logo-wrap .icon.fa-google{ color: white; background-color: #242a30; border-radius: 50%; font-size: 2rem;}
.my-social .my-social-wrap .my-social-logo-wrap .icon.fa-github{ color: #24292e; background-color: white; border-radius: 50%; font-size: 3.4rem;}
.my-social .my-social-wrap .my-social-logo-wrap .icon.fa-instagram{color: white;font-size: 2rem;border-radius: 50%;background: #f09433;background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );}
.my-social .my-social-wrap .my-social-logo-wrap .icon.fa-facebook {background-color: #3b5998; border-radius: 50%; color: white; font-size: 2rem;}
.my-social .my-social-wrap .my-social-logo-wrap .icon.fa-linkedin{color: white;background-color: #0e76a8;border-radius: 50%; font-size: 2rem;}
